  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  ::-webkit-scrollbar {
    display: none;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    -webkit-font-smoothing: antialiased;

    background-color: #110C09;
  }